body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x:  hidden;
}

nav {
  width: 100%;
  position: sticky;
}

div {
  text-align: center;
  margin-top: 2.5;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  position: sticky;
  padding: 5px 10px;
  
}