form {
  width: 100%;
  background-color: #ac5353;
  overflow: hidden;
  position: sticky;

}

#display {
  display: grid;
  justify-content: space-evenly;
  background-color: #ac5353;
  grid-template-columns: auto auto auto auto; 
  padding: 30px;
  gap: 30px;
  
}

body {
 
  align-items:center;

}

footer {
  text-align: center;
  background-color: black;
  color: white;
  position: sticky;
  padding: 5px 10px;
  
}